@model Access_Models.ViewModels.OrderListVM 
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Order.css" />
</head>

<div class="a-container-content">
    <div class="a-order-container">

        <form method="get" class="a-order-form">
            <div class="a-order-form-container">
                <div class="a-order-form-row" style="width:100%; display: flex; flex-direction: row;">

                    <div>
                        @Html.Editor("searchName", new { htmlAttributes = new { @class="a-order-form-row-item", @placeholder="Name..."}})
                    </div>
                    <div>
                        @Html.Editor("searchEmail", new { htmlAttributes = new { @class="a-order-form-row-item", @placeholder="Email..."}})
                    </div>
                    <div>
                        @Html.Editor("searchPhone", new { htmlAttributes = new { @class="a-order-form-row-item", @placeholder="Phone..."}})
                    </div>

                </div>
                <div class="a-order-form-row">
                    <div style="display: flex; flex-direction: column;">

                        <div>
                            @Html.DropDownList("Status_Name", Model.StatusList, "--Order Status--", htmlAttributes: new { @class="a-order-form-row-item a-order-selected-list"})
                        </div>

                    </div>

                    <button class="a-order-btn" type="submit">
                        Search
                    </button>

                    <button class="a-order-btn" type="button" onclick="clearFilters()">
                        Clear filters
                    </button>

                </div>

            </div>
        </form>

        <ejs-grid id="Grid" dataSource="@Model.OrderHList" allowFiltering="true" allowSorting="true" allowPaging="true">
            <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
            <e-grid-loadingIndicator indicatorType="Shimmer"></e-grid-loadingIndicator>
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" textAlign="Right" width="2rem"></e-grid-column>
                <e-grid-column field="FullName" headerText="Name" textAlign="Right" width="20rem"></e-grid-column>
                <e-grid-column field="Email" headerText="Email" textAlign="Right" width="20rem"></e-grid-column>
                <e-grid-column field="PhoneNumber" headerText="Phone Number" textAlign="Right" width="20rem"></e-grid-column>
                <e-grid-column field="OrderStatusName" headerText="Order Status" textAlign="Right" width="20rem"></e-grid-column>
                <e-grid-column field="CreationDate" headerText="Date of Creation" customFormat="@(new { type="date", format="MM/dd/yyyy" })" textAlign="Right" width="20rem"></e-grid-column>
                <e-grid-column field="Id" headerText="" width="3rem"
                               template="<a rel='nofollow' href='Order/Details/${Id}'><i class='fa-solid fa-pen-alt' style='width: 3rem;
                                                                                                                            height: 3rem;
                                                                                                                            display: flex;
                                                                                                                            justify-content: center;
                                                                                                                            align-items: center;
                                                                                                                            border-radius: 0.5rem;'></i></a>"></e-grid-column>

            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function clearFilters(){
            $('#searchName').val(null);
            $('#searchEmail').val(null);
            $('#searchPhone').val(null);
            $('#Status_Name').prop('selectedIndex', 0);
            $('.a-order-form').submit();
        }
        $(document).ready(function () {
            $('*').filter(function () {
                return $(this).css('z-index') > 100000;
            }).each(function (i, elem) {
                $(elem).css('z-index', -1 * $(elem).css('z-index'));
            });
        });
    </script>
}