@model Access_Models.ViewModels.ProductAttributeListVM
@using Access_Models
@using Access_Utility

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Manage - Product Attributes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Management.css" />
</head>

<div class="a-container-content">
    <div class="a-management">
        <div class="a-management-table-container">
            <div class="a-management-list">
                <div class="a-management-list-item a-management-list-text">Product Attribute List</div>
                <div class="a-management-list-item">
                    <a asp-controller="ProductAttribute" asp-action="Upsert" class="a-management-create-cat-btn a-management-list-btn">
                        <i class="fa-solid fa-plus"></i> &nbsp; Create new Product Attribute
                    </a>
                </div>
            </div>
            <br /><br />
            @if (Model.ProductAttribute.Count() > 0)
            {
                <div class="a-management-list">
                    <table class="a-management-table">
                        <thead>
                            <tr>
                                <td width="15%">
                                    Attribute Type
                                </td>
                                <td width="15%">
                                    Attribute Value
                                </td>
                                <td width="20%">
                                    Product Name
                                </td>
                                <td width="25%">
                                    Product Image
                                </td>
                                <td width="10%">
                                    Is in stock
                                </td>
                                <td width="10%"></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ProductAttribute prodAttr in Model.ProductAttribute)
                            {
                                <tr class="a-management-table-tr-pd">
                                    <td width="15%">@prodAttr.AttributeType.Name</td>
                                    <td width="15%">@prodAttr.AttributeValue.Value</td>
                                    <td width="20%">@prodAttr.Product.Name</td>

                                    <td width="25%">
                                        @foreach (var image in Model.ProductImages.Where(u => u.AttributeId == prodAttr.Id))
                                        {
                                            <img src="@WebConstants.ProductImagePath@prodAttr.ProductId\@image.Name" width="100" style="margin-top: 2.2rem; width: 3rem; height: 3rem; border-radius: .3rem; border: .2rem solid #bbb" />
                                        }
                                    </td>
                                    <td width="10%">@prodAttr.IsInStock</td>
                                    <td width="10%" class="a-management-table-last-column">
                                        <div role="group" class="a-management-table-btn-group">
                                            <div class="a-management-table-btn-list">
                                                <a asp-controller="ProductAttribute" asp-route-Id="@prodAttr.Id" asp-action="Upsert" class="a-management-table-btn">
                                                    <img src="~/Images/Pages/_sheareout/published_with_changes.svg" class="a-management-table-btn-icon-del" />
                                                </a>

                                                <a asp-controller="ProductAttribute" asp-route-Id="@prodAttr.Id" asp-action="Delete" class="a-management-table-btn">
                                                    <img src="~/Images/Pages/_sheareout/delete_forever.svg" class="a-management-table-btn-icon-del" />
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="a-management-list">No product attributies exists.</div>
            }

        </div>
    </div>

</div>
